# Ignore Git related files and directories
.git
.gitignore

# Ignore Node.js modules and npm artifacts
node_modules
npm-debug.log
yarn-error.log

# Ignore development and build files
.next
out
.vscode
.DS_Store

# Ignore other files and directories that are not needed for production
*.md
*.markdown
